<section class="sponsor section">
    <div class="sponsor__container container grid">
        <div class="sponsor__content">
            <img src="{{ asset("build/website/images/sponsors1.png") }}" alt="" class="sponsor__img">
        </div>
        <div class="sponsor__content">
            <img src="{{ asset("build/website/images/sponsors2.png") }}" alt="" class="sponsor__img">
        </div>
        <div class="sponsor__content">
            <img src="{{ asset("build/website/images/sponsors3.png") }}" alt="" class="sponsor__img">
        </div>
        <div class="sponsor__content">
            <img src="{{ asset("build/website/images/sponsors4.png") }}" alt="" class="sponsor__img">
        </div>
        <div class="sponsor__content">
            <img src="{{ asset("build/website/images/sponsors5.png") }}" alt="" class="sponsor__img">
        </div>
    </div>
</section>